{% load static %}

<!DOCTYPE html>
<html lang="en">

    <head>
      <meta charset="utf-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
      <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
      <title>{{ title }}</title>
    </head>

    <body>
        <h1>{{ title }}</h1>

        <div id="website-options">
            <p>{{ address.number }} {{ address.street }}</p>
            <p>{{ address.city }}, {{ address.state }} {{ address.zip_code }}</p>
            <p>{{ address.country_iso_code }}</p>
        </div>

        <div id="website-extended-menu">
            <a href="{% url 'lettings_index' %}">Back</a>
            <a href="{% url 'index' %}">Home</a>
            <a href="{% url 'profiles_index' %}">Profiles</a>
        </div>
    </body>

</html>